<div id="footer">
  <div class="footer-items">
    <div class='no-container'>
      <ul>
        <li>
          <a class='animated-arrow' href='https://google.com'>
            <span class='the-arrow -left'>
              <span class='shaft'></span>
            </span>
            <span class='main'>
              <span class='text'>
                Email
              </span>
              <span class='the-arrow -right'>
                <span class='shaft'></span>
              </span>
            </span>
          </a>
        </li>
    </div>

  <div class="social">
    <h1>Dribble</h1>
    <h1>Behance</h1>
    <h1>Instagram</h1>
  </div>
</div>
</div>
